---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <!-- Preview image -->
      {% if page.thumbnail %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
        <img src="{{page.preview}}" style="max-height: 100%; max-width: 100%" />
        Read More (click here for full blog post)</a>
      {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More (click here for full blog post)</a>
      {% endif %}
      </article>
    {% endfor %}
</div>
