---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <!-- Preview image -->
      {% if post.preview %}
        <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{post.preview}}" style="max-height: 100%; max-width: 80%; padding-left:20%" /></a>
        <br>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more" style="padding-left: 20%">Read More (click here for full blog post)</a>
      {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More (click here for full blog post)</a>
      {% endif %}
      </article>
    {% endfor %}
</div>
