<div id="{{ include.id }}" style="max-width: 100%"></div>

<style>
  /* the viewer container must have a defined size */
  #{{ include.id }} {
    width: 100vw;
    height: 50vh;
  }
</style>

<script>
  
const raw_img_prefix = 'https://github.com/murdockfpv/murdockfpv.github.io/blob/master';
const raw_img_suffix = '?raw=true';
const img_urls = [{{include.img_urls}}];
  
const viewer = new PhotoSphereViewer.Viewer({
    container: document.querySelector('#{{ include.id }}'),
    panorama: raw_img_prefix + img_urls[0] + raw_img_suffix,
    touchmoveTwoFingers: true,
    defaultLong: {{ include.default_long }},
    defaultLat: {{ include.default_lat }},
    defaultZoomLvl: {{ include.default_zoom }},
    caption: '{{ include.caption }}',
    autorotateDelay: 1500,
    autorotateSpeed: '2rpm',
    navbar: ['zoom','autorotate', 'caption', 
      {
        id: 'next-image',
        content: 'Next Image',
        title: 'Next Image Title',
        className: 'custom-button',
        onClick: () => {
          viewer.setPanorama(raw_img_prefix + img_urls[1] + raw_img_suffix); 
          console.log("next2");
          console.log(raw_img_prefix + img_urls[1] + raw_img_suffix);
        }
      },
      {
        id: 'previous-image',
        content: 'Previous Image',
        title: 'Previous Image Title',
        className: 'custom-button2',
        onClick: () => {
          viewer.setPanorama(raw_img_prefix + img_urls[0] + raw_img_suffix); 
          console.log("previous2");
          console.log(raw_img_prefix + img_urls[0] + raw_img_suffix);
        }
      }
    ]
  });
</script>
