<div id="{{ include.id }}" style="max-width: 100%"></div>

<style>
  /* the viewer container must have a defined size */
  #{{ include.id }} {
    width: 100vw;
    height: 50vh;
  }
</style>

<script>
const img_urls = [{{include.img_urls}}];
const viewer = new PhotoSphereViewer.Viewer({
    container: document.querySelector('#{{ include.id }}'),
    panorama: img_urls[0],
    touchmoveTwoFingers: true,
    defaultLong: {{ include.default_long }},
    defaultLat: {{ include.default_lat }},
    defaultZoomLvl: {{ include.default_zoom }},
    caption: '{{ include.caption }}',
    autorotateDelay: 1500,
    autorotateSpeed: '2rpm',
    navbar: ['zoom','autorotate', 'caption', 
      {
        id: 'next-image',
        content: 'Next Image',
        title: 'Next Image Title',
        className: 'custom-button',
        onClick: () => {
          viewer.once('ready', () => {
            viewer.setPanorama(img_urls[1]).then(); 
          });
        }
      },
      {
        id: 'previous-image',
        content: 'Previous Image',
        title: 'Previous Image Title',
        className: 'custom-button2',
        onClick: () => {
          viewer.once('ready', () => {
            viewer.setPanorama(img_urls[0]).then(); 
          });
        }
      }
    }]
  });
</script>
