---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  <hr>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
    <br>
    See other <a href="/"><strong>blog posts<strong></a>
    <br>
    Follow me on instagram: <a href="https://www.instagram.com/justinmurdock7b/?hl=en"><strong>justinmurdock7b</strong></a>
    <br>
    {{ site.name }} - {{site.description}}
  </div>

  {% include disqus.html %}
</article>
